a:visited {
	color: red;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}
a:active {
	color: yellow;
	text-decoration: underline;
}
#menu{
	background-color: #ff0000;
	width: 1000px;
	height: 40px;
}
#menu ul {
	list-style: none;
	text-transform: uppercase;
	float: center;

}
#menu ul li {
	float: left;
    padding-left:60px ;
}
#menu ul li a{
	font-size: 20px;
	width: 100px;
    text-align: center;
    
	padding: 8px;
	color: #FFF; 
    display: block;
;
}